

#header ul{
    list-style-type: none;
    margin:0;
    padding:0;
    overflow:hidden;
    position:fixed;
    top:0;
    width:100%;
    background-color:grey;
}

li{
 display: block;
 float: left;
 color:black;
 text-align:center;
 padding:12px;
 text-decoration:none;
 font-size:18px;
 line-height:25px;
 border-radius:4px;
}

#maininfo{
    padding:100px;
}

.container{
    display:flex;
    flex-wrap: wrap;
    justify-content:space-around; 
}

.item{
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
    text-align:center;
}

footer{
    text-align:right;
}

footer li{
    float:right;
}

